body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;
   padding: 20px;
}

#grid, #stats {
  margin: 10px;
  display: inline-block;
  vertical-align: top;
}

#grid .row {
  margin-bottom: -2px;
}

#grid .cell {
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  height: 30px;
  margin-bottom: -1px;
  margin-right: -1px;
}

.block {
  background-color: black;
}

.number {
  font-size: 0.6em;
  float: left;
  vertical-align: top;
}

#reset {
  margin-left: 30px;
  font-size: 1.5em;
}

button.reset-button{
  cursor: pointer;
  border:0;
  display:inline-block;
  font-size:0;
  background-repeat:no-repeat;
  width: 26px;
  height: 26px;
  vertical-align: top;
}

button#reset-0{
  background-image:url(../img/grid-0.png);
}

button#reset-1{
  background-image:url(../img/grid-1.png);
}

button#reset-2{
  background-image:url(../img/grid-2.png);
}

button#reset-3{
  background-image:url(../img/grid-3.png);
}
